.component-cards {
    
    // card
    .card {
        border: 0;
        border-radius: 0;

        // card-head
        &-head {
            position: relative;

            .top,
            .bottom {
                position: absolute;
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                background: transparent;
                z-index: 9;
            }
            .top {
                display: flex;
                align-items: center;
                top: 0;
                padding-top: 15px;

                .wishlist-button {
                    margin-left: auto;

                    .far,
                    .fas {
                        display: none;
                        font-size: (18rem / 16);

                        &.active {
                            display: block;
                        }
                    }
                    .far {
                        color: $twp-blue;
                    }
                    .fas {
                        color: $twp-red;
                    }
                }
            }
            .bottom {
                bottom : 0;
                padding-bottom: 15px;

                .size-wrapper {
                    display: none;

                    .sizes {
                        display: flex;
                        flex-wrap: wrap;
                        padding: 15px;
                        background: $white;
                        border-radius: 4px;
                    }
                    .radio-group {
                        padding-left: 5px;
                        padding-right: 5px;

                        input[type="radio"] {
                            position: absolute;
                            width: 0;
                            height: 0;
                            left: -99999px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                        }
                        label {
                            width: 56px;
                            font-size: (14rem / 16);
                            @include dmmono-light;
                            color: $twp-blue;
                            text-align: center;
                            border: 1px solid $twp-blue-light;
                        }
                        input[type="radio"]:checked + label {
                            background-color: $twp-blue;
                            color: $white;
                        }
                    }
                }
            }
        } // end card-head

        // card-image
        &-image {
            cursor: pointer;

            .img-hover {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: all .5s ease-out;
                z-index: 8;
            }
            &:hover {
                .img-hover {
                    opacity: 1;
                }
            }
        } // end card-image

        // card-body
        &-body {
            padding-left: 0;
            padding-right: 0;

            .price {
                .sale {
                    padding-right: 10px;
                    color: $twp-red;

                    & ~ .rrp {
                        text-decoration: line-through;
                    }
                }
            }
        } // end card-body

    } // end card

}