body {
    font-size: (16rem / 16);
    @include dmsans-reg;
    color: $twp-blue-light;
    line-height: 24px;
}

/* Headings */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @include dmmono-light;
  color: $twp-blue;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: (20rem / 16);
  line-height: 24px;
}

/* Paragraph */
p {
    font-size: (16rem / 16);
    @include dmsans-reg;
    color: $twp-blue-light;
    line-height: 20px;
  
    &:last-child {
      margin-bottom: 0;
    }
}