@mixin button() {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    padding: 0 25px;
    @include opensans-bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  @keyframes arrow-icon-hover {
    from { transform: translateX(5px); }
    to { transform: translateX(0); }
  }
  
  @mixin button-primary() {
    @include button;
    background-color: $white;
    color: $black;

    .arrow {
      display: inline-flex;
      align-items: center;
      margin-right: 13px;
      font-size: (22rem / 16);
      font-weight: 700;
      color: $tri-blue;

      &::before {
        content: '';
        position: relative;
        width: 8px;
        height: 2px;
        top: 1px;
        background-color: $tri-blue;
      }
    }
  
    &:hover {
      background-color: $white;
      color: $tri-blue;

      .arrow {
        animation: arrow-icon-hover .3s ease-in-out;
      }
    }
  }