@mixin font-smoothed() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
@mixin dmsans-reg {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    @include font-smoothed;
}
  
@mixin dmmono-light {
    font-family: 'DM Mono', monospace;
    font-weight: 300;
    font-style: normal;
    @include font-smoothed;
}

@mixin opensans-italic {
    font-style: italic;
}